@font-face {
  font-family: "Monsterrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monsterrat;
}
header {
  padding: 1.5rem 4rem;
  background-color: #f8f9fa;
}
header nav ul {
  justify-content: right;
  display: flex;
  list-style: none;
  gap: 2rem;
}
header nav ul li {
  font-size: 1.2rem;
  font-weight: 500;
  a {
    text-decoration: none;
    color: black;
  }
}
main h1 {
  text-align: center;
  margin: 1rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(212, 194, 208);
  width: 50%;
  margin: 1rem auto;
  padding: 1.5rem 1.2rem;
  border-radius: 10px;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  img {
    object-fit: cover;
    border-radius: 10px;
  }
}

.btnDelete {
  background-color: #df3546;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

#description {
  font-size: 1.2rem;
  text-align: left;
  margin: 1rem 0;
}

#price {
  font-size: 1.5rem;
  font-weight: 600;
}
